.post {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  margin: 0 auto;
  padding: 14px;
}
